.barra-superior {
  width: 100%;
  background: rgba(255, 255, 255, 0); /* más transparente */
  display: flex;
  align-items: center;
  padding: 8px 15px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* logo y lema alineados a la izquierda */
}

.logo-img {
  height: 60px;
  width: auto;
}

.lema-app {
  font-family: "Just Another Hand", cursive;
  font-size: 12px;
  color: #076141;
  margin-top: 3px;
}
